<nav class="navbar navbar-expand bg-light shadow-sm p-0">
  <div class="container navbar">
    <a class="navbar-brand" href="/">
      <img src="/styles/logo.svg" alt="Icon" width="40" height="40" class="me-2">
      ExamListing App
    </a>    
    <div id="nav-form" class="d-flex flex-column ms-auto">
      <input type="file" id="file-input" accept=".csv">
      <button id="import-button" class="btn btn-outline-success ms-2" type="button">Importar Dados</button>
      <form id="search-form" class="d-flex search_bar">
        <input id="search-input" class="form-control me-2" type="text" placeholder="Enter token" name="token">
        <button id="search-button" class="btn btn-primary" type="button">Procurar</button>
      </form>
    </div>
  </div>
</nav>