<body>
  <div class="container mt-5">
    <main id="main-content">
      <div id="exams-container" class="mt-4">
        <div id="exam-details-container"></div>
      </div>
      <!-- Add pagination controls here -->
      <div id="pagination-controls" class="mt-4 d-flex justify-content-center"></div>
    </main>
  </div>
</body>