<body>
  <div class="container mt-5">
    <main id="main-content">
      <div id="exams-container" class="mt-4">
        <div id="exam-details-container"></div>
      </div>
    </main>
  </div>
</body>
