.navbar {
  margin-bottom: 0px; /* Adjust the value as needed */
  padding: 0%;
}

.card-link-hover:hover .card {
  outline: 2px solid #007bff; /* Contorno azul */
  outline-offset: -1px; /* Ajuste opcional para o espaço entre o contorno e o elemento */
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

.alert.hide {
  opacity: 0;
}